


.table_tags, .table_attributes
{
    border: 1px solid;
    border-collapse: collapse;
    width: 650px;
    text-align: center;
   
}

td, th
{
    border: 1px solid;
}

.table_tags
{
    height: 200px;
    
}

.table_attributes
{
    height: 100px;
}


th
{
    height: 30px;
}

body
{
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    border: 1px solid;
    width: 40%;
    margin: 0 auto;
    min-width: 800px;
    

}

table
{
    margin: auto auto;
}

footer 
{
    margin-top: 40px;
    background-color: #c5dae2;
    color: #466995;
    padding: 1px;
   
}


h1 {
    padding: 20px;
    background-color: #c5dae2;
    color: #466995;
    
}

h3
{
    padding: 5px;
    background-color: #c5dae2;
    color: #466995;
   

}


tr:hover
{
    background: #c5dae2;
    color: #466995;
    
}

article
{
    border: 1px solid;
    border-radius: 10px;
    margin: 0 15%;
    padding: 0 5%;
}

article p
{
    font-size:medium;
    line-height: 25px;
}

article h2{
    color: #466995;
}

article:hover
{
    background: #c5dae2;
    color: #466995;
}

.mypicture img
{
    border-radius: 50px;
}

.html_logo
{
    padding-top: 10px;
}









