
html
{
    margin: 0;
}

.table_tags, .table_attributes
{
    border: 1px solid;
    border-collapse: collapse;
    width: 650px;
    text-align: center;
}

td, th
{
    border: 1px solid;
}

.table_tags
{
    height: 200px;
    
}

.table_attributes
{
    height: 100px;
}

th
{
    height: 30px;
}

body
{
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    margin-left: 30%;
    margin-right: 30%;
    border-left: 1px solid;
    border-right: 1px solid;
    min-width: 800px;
   
}

table
{
    margin: auto auto;
}

footer 
{
    margin-top: 40px;
    background-color: rgb(78, 184, 181);
    color: white;
    padding: 1px;
    
}


h1 {
    padding: 20px;
    background-color: rgb(78, 184, 181);
    color: white;
}

h3
{
    background-color: rgb(78, 184, 181);
    color: white;

}


tr:hover
{
    background: rgb(78, 184, 181);
    color: white;
    
}












